<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %> 
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/lightslider.css">
    <!-- Jquery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lightslider.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <!--==================================================
        Titulo Producto
        ===================================================-->

        <div class="detalle">
            <div class="detalle_titulo_box">
                <% for(category of categories){ %>
                    <% if (category.id == product.category_id ) { %>
                        <h1 class="detalle_titulo"> <a href="/products/all">PRODUCTOS</a> | <a href="/products/category/<%= category.id %>"><%= category.name %></a> | <span><%= product.title %></span></h1>
                    <% } %>            
                <% } %>
                <a class="detalle_titulo_boton" href="/products/all">VOLVER A PRODUCTOS <i class="fas fa-th-large"></i></a>
            </div>
        </div>

        <!--==================================================
        Caja imagen y descripcion
        ===================================================-->
        <div class="producto">
            <div class="producto_imagen">
                <img src="/img/products/<%= product.img %>" alt="">
                <% if (product.discount > 0) { %>
                    <div class="sale-product">
                        <span><%= product.discount %>% OFF</span>
                        <span>$ <%= (product.price - (product.price * (product.discount * 0.01))) %></span>
                    </div>
                <% } %>
            </div>
            <div class="producto_titulo_movil">
                <div class="producto_titulo_box">
                    <h5 class="producto_titulo">
                        <%= product.title %>
                    </h5>
                </div>
            </div>
            <div class="producto_descripcion">
                <div class="producto_descripcion_cantidad">
                    <div class="producto_descripcion_cantidad_box">
                        <div class="producto_descripcion_cantidad_precio">
                            <% if (product.discount > 0) { %>
                                <h4>PROMO $ <%= (product.price - (product.price * (product.discount * 0.01))) %></h4>
                            <% } else { %>
                                <h4>IMPORTE $ <%= product.price %></h4>
                            <% } %>
                        </div>
                        <div class="producto_descripcion_cantidad_input">
                            <input type="text" value="1">
                            <div class="producto_descripcion_detalle_botones">
                                <button type="button" class="button_up"><i class="fas fa-chevron-up"></i></button>
                                <button type="button" class="button_down"><i class="fas fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="producto_descripcion_detalle_icono">
                            <img src="/img/vectors/icon_bike.png" alt="">
                        </div>
                    </div>
                    <div class="producto_descripcion_detalle_carrito">
                        <button id="addShoppinCart" type="button">
                            <span>agregar a la bolsa de pedidos</span>
                            <i class="fas fa-shopping-bag"></i><br>
                        </button>
                    </div>
                </div>
                <div class="producto_descripcion_detalle">
                    <h3>DETALLES</h3>
                    <hr>
                    <div class="producto_detalle_desc">
                        <p>
                            <span
                                style="color: rgb(82, 82, 82); letter-spacing: 1px; font-family: sans-serif; font-size: 14px;">Beber
                                con moderación. Prohibida su venta a menores de 18 años.</span>
                            <br>
                        </p>
                    </div>
                    <div class="producto_descripcion_lista">
                        <div class="producto_descripcion_lista_red">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter fa-fw"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook fa-fw"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-pinterest fa-fw"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin fa-fw"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-envelope fa-fw"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% if (locals.isLogged && locals.userLogged.roll_user_id == 1) { %>
                        <div class="editDeleteContainer">
                            <div class="buttons"> 
                                <a href="/admin/edit-product/<%= product.id %>" class="form-edit">
                                    <button class="efectButton fill">EDITAR</button>
                                </a>
                            </div>
                            
                            <form action="/products/<%= product.id %>?_method=DELETE" method="POST" id="form">
                                <div class="buttons">
                                    <button class="efectButton pulse" id="eliminar" type="submit" class="delete-btn">ELIMINAR</button>
                                </div>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!--==================================================
        Productos Relacionados
        ===================================================-->
        <div class="producto_relacionado">
            <div class="producto_relacionado_icono">
                <i class="fas fa-chevron-circle-down"></i>
            </div>
        </div>
        <div class="productos_relacionados_titulo">
            <h2>PRODUCTOS RELACIONADOS</h2>
        </div>

        <!--==================================================
        Productos Relacionados Slider
        ===================================================-->
        <div class="container">
            <!-- Slider ----------------------------------------->
            <ul id="autoWidth" class="cs-hidden">
                <!-- Group slider ------------------------>
                <% slidesProduct.forEach(product => { %>
                    <li class="item-a">
                        <!-- slider-box -->
                        <div class="box">
                            <p class="marvel"><%= product.title %> </p>
                            <!-- Model -->
                            <div class="box-img">
                                <img src="/img/products/<%= product.img %>" class="model">
                                <% if (product.discount > 0) { %>
                                    <div class="sale-product">
                                        <span><%= product.discount %>% OFF</span>
                                        <span>$ <%= (product.price - (product.price * (product.discount * 0.01))).toFixed(2) %></span>
                                    </div>
                                <% } %>
                            </div>
                            <!-- Detalles -->
                            <div class="details">
                                <div class="producto_descripcion_cantidad_box2">
                                    <div class="producto_descripcion_cantidad_precio2">
                                        <!-- <h4>PROMO $ <%= product.price %> </h4> -->
                                        <% if (product.discount > 0) { %>
                                            <h4>PROMO $ <%= (product.price - (product.price * (product.discount * 0.01))).toFixed(2) %></h4>
                                        <% } else { %>
                                            <h4>IMPORTE $ <%= product.price %></h4>
                                        <% } %>
                                    </div>
                                    <div class="producto_descripcion_cantidad_input2">
                                        <input type="text" value="1">
                                        <div class="producto_descripcion_detalle_botones2">
                                            <button type="button"><i class="fas fa-chevron-up"></i></button>
                                            <button type="button"><i class="fas fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="producto_descripcion_detalle_icono2">
                                        <img src="/img/vectors/icon_bike.png" alt="">
                                    </div>
                                </div>
                                <!-- Boton de carrito -->
                                <div class="producto_descripcion_detalle_carrito2">
                                    <button type="button">
                                        <a href="/products/details/<%= product.id %>">
                                            <span>ver el detalle del producto</span>
                                            <i class="far fa-eye"></i>
                                        </a> 
                                    </button>
                                </div>
                                <!-- Fin Boton de carrito -->
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>

        </div>

    <!--=====================================
    F O O T E R
    ======================================-->
        <%- include('../partials/footer.ejs') %>

    <script src="/js/script.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/deleteConfirm.js"></script>
</body>

</html>