<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <%- include('./partials/scrollUp.ejs') %>

    <section id="sec-categories">
        <h1 class="title-categories">CATÁLOGO DE PRODUCTOS</h1>
        <div class="div-categories">
            <% categories.forEach(category => { %> 
                <div class="img-categories">
                    <a href="/products<%= category.url %>">
                        <img src="/img/navbar/<%= category.imgBanner %>" alt="">
                        <h3 class="subtitle-categories"><%= category.name %></h3>
                    </a>
                </div>
            <% }) %>
        </div>
    </section>

    <section class="nosotros">
        <div class="contenedor-parrafo">
            <img src="/img/wall/title_nosotros.svg" alt="">
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/scrollUp.js"></script>
</body>
</html>
