<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('./partials/header.ejs') %> 

    <section id="sec-categories">
        <h1 class="title-categories">CATÁLOGO DE PRODUCTOS</h1>
        <div class="div-categories">
            <% categories.forEach(category => { %> 
                <div class="img-categories">
                    <a href="/products<%= category.url %>">
                        <img src="/img/navbar/<%= category.imgBanner %>" alt="">
                        <h3 class="subtitle-categories"><%= category.name %></h3>
                    </a>
                </div>
            <% }) %>
        </div>
    </section>

<!-- // ToDo: Seccion "Nosotros"
    <section id="we">
        <div class="div-we">
            <h2 class="subtitle-we">NOSOTROS</h2>
            <p class="text-we">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore accusamus, facere esse officiis exercitationem accusantium laborum eos, fugit aliquam ex nemo quam architecto facilis! Modi voluptatum voluptate labore odit quidem?</p>
        </div>
    </section> -->
    
    <%- include('./partials/footer.ejs') %> 
    <script src="/js/main.js" type="text/javascript"></script>
</body>
</html>
