<header class="main-header">
	<nav class="menu" id="menu">
		<div class="contenedor contenedor-botones-menu">
			<button id="btn-menu-barras" class="btn-menu-barras"><i class="fas fa-bars"></i></button>
			<button id="btn-menu-cerrar" class="btn-menu-cerrar"><i class="fas fa-times"></i></button>
		</div>

		<div class="contenedor contenedor-enlaces-nav">
			<div class="btn-departamentos" id="btn-departamentos">
				<a href="/products/all">
					<p>Todos los <span>Productos<i class="fas fa-caret-down"></i></span></p>
				</a>
			</div>

			<div class="enlaces">
				<a href="/home"><i class="fas fa-home" id="home"></i> Inicio</a>
				<% if (locals.isLogged && locals.userLogged.roll_user_id == 1) { %>
					<a href="/admin/create-product"><i class="far fa-plus-square"></i> Productos</a>
				<% } %>
				<a href="/products/topFive">Promociones</a>
				<a href="#">Ayuda</a>
				<% if (locals.isLogged) { %>	
					<a href="http://localhost:3000/"><i class="fas fa-fw fa-tachometer-alt"></i> Dash</a>
					<img id="user-logged" src="/img/users/<%= locals.userLogged.avatar %>" >
					<a class="nav-link dropdown-toggle" href="/users/profile/" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<%= locals.userLogged.fullName.substr(0,8) %> 
					</a>
					<a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
				<% } else { %>
					<a href="/users/login"><i class="fas fa-user" id="login"></i> Cuenta</a>
				<% } %>
				<a href="/products/shop"><i class="fas fa-shopping-bag" id="cart"></i></a>
			</div>
		</div>

		<div class="contenedor contenedor-grid">
			<div class="grid" id="grid">
				<div class="categorias">
					<button class="btn-regresar"><i class="fas fa-arrow-left"></i> Regresar</button>
					<h3 class="subtitulo">Categorias</h3>
					<% categories.forEach(category => { %>
						<a href="#" data-categoria="<%= category.id %>"><%= category.name %>  <i class="fas fa-angle-right"></i></a>
					<% }) %>
				</div>
				<div class="contenedor-subcategorias">
					<% categories.forEach(category => { %>
						<div class="subcategoria " data-categoria="<%= category.id %>">
							<div class="enlaces-subcategoria">
								<button class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</button>
								<a href="/products<%= category.url %>">
									<h3 class="subtitulo"><%= category.name %></h3>
								</a>
								<% for( let i = 0; i < subCategories.length; i++ ) { %>
									<% if (subCategories[i].category_id == category.id ) { %>
										<a href="/products<%= subCategories[i].url %>"><%= subCategories[i].name %></a>
									<% } %>
								<% } %>
							</div>
							<div class="banner-subcategoria">
								<a href="">
									<img src="/img/navbar/<%= category.imgBanner %>" alt="">
								</a>
							</div>
							<div class="galeria-subcategoria">
								<a href="">
									<img src="/img/navbar/<%= category.img1 %>" alt="">
								</a>
								<a href="">
									<img src="/img/navbar/<%= category.img2 %>" alt="">
								</a>
								<a href="">
									<img src="/img/navbar/<%= category.img3 %>" alt="">
								</a>
								<a href="">
									<img src="/img/navbar/<%= category.img4 %>" alt="">
								</a>
							</div>
						</div>
					<% }) %>
				</div>
			</div>
		</div>
		<div class="logo">
			<a href="/home">
				<img src="/img/vectors/Brainstorming_logo.png" alt="Logo Brainstorming">
			</a>
		</div>
	</nav>
</header>