<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/formCreateProduct.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <div id="container-brain">
            <h1 class="title-brain">&bull; Brainstorming &bull;</h1>
            <div class="underline"></div>
            <div class="icon_wrapper">
                <img class="icon-copas" src="/img/vectors/copas.png" alt="copas">
            </div>
            <form action="/products/all" method="POST" id="form-create" enctype="multipart/form-data">
                <div class="title-prod">
                    <!-- <label for="title"></label> -->
                    <input type="text" name="title" id="title" placeholder="Nombre del Producto">
                </div>
                <div class="img-prod">
                    <input type="file" name="newProductImage" id="img" multiple>
                </div>
                <div class="price-prod">
                    <input type="number" name="price" id="price" placeholder="Precio">
                </div>
                <div class="promo-prod">
                    <select name="promotion" id="promotion">
                        <option disabled hidden selected>Seleccione una opcion</option>
                        <option value= 1>Con Promoción</option>
                        <option value= 0>Sin Promoción</option>
                    </select>
                </div>
                <div class="discount-prod">
                    <input type="number" name="discount" id="discount" placeholder="% de Descuento">
                </div>
                <div class="categ-prod">
                    <select name="category" id="category">
                        <option disabled hidden selected>Seleccione una Categoria</option>
                        <% for(category of categories) { %>
                            <option value=<%=category.id %>>
                                <%= category.name %>
                            </option>
                            <% }%>
                    </select>
                </div>
                <div class="subcateg-prod">
                    <select name="subcategory" id="subcategory">
                        <option disabled hidden selected>Seleccione una Subcategoria</option>
                        <% for(subcategory of subCategories) { %>
                            <option value=<%=subcategory.id %>>
                                <%= subcategory.name %>
                            </option>
                            <% }%>
                    </select>
                </div>

                <!-- <div class="code-prod">
                    <input type="number" name="code" id="code" placeholder="Codigo de Barra">
                </div> -->
                <!--  <div class="stock-prod">
                    <input type="number" name="stock" id="stock" placeholder="Stock">
                </div> -->
                <!-- <div class="description-prod">
                    <textarea name="description" id="description"
                        placeholder="Descripcion del Producto"></textarea>
                </div> -->
                <div class="submit-prod">
                    <input type="submit" value="Guardar Producto" id="form_button" />
                </div>
            </form>
        </div>

        <%- include('../partials/footer') %>
            <script src="/js/main.js"></script>
</body>

</html>