<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/formEditProduct.css">
         <!-- Jquery -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/scrollUp.ejs') %>

        <div id="container-brain">
            <h1 class="title-brain">&bull; Brainstorming &bull;</h1>
            <div class="underline"></div>
            <div class="icon_wrapper">
                <img class="icon-copas" src="/img/vectors/copas.png" alt="copas">
            </div>

            <form action="/products/edit-product/<%= product.id %>?_method=PUT" method="POST" id="form-create"
                enctype="multipart/form-data">
                <div class="name-prod">
                    <input type="text" name="title" id="title" value="<%= product.title %>">
                </div>
                <div class="img-prod">
                    <img src="/img/products/<%= product.img %>" alt="img del producto" class="img-edit" />
                    <input type="file" name="editedProductImage" id="img" multiple>
                </div>
                <div class="price-prod">
                    <input type="number" name="price" id="price" value=<%=product.price %>>
                </div>
                <div class="promo-prod">
                    <select name="promotion" id="promotion">
                        <% if (product.promotion==1 ) { %>
                            <option value=1>Con Promoci贸n</option>
                            <option value=0>Sin Promoci贸n</option>
                            <% } else { %>
                                <option value=0>Sin Promoci贸n</option>
                                <option value=1>Con Promoci贸n</option>
                                <% } %>
                    </select>
                </div>
                <div class="discount-prod">
                    <input type="number" name="discount" id="discount" value="<%= product.discount %>"
                        placeholder="% de Descuento">
                </div>
                <div class="categ-prod">
                    <select name="category" id="category" class="categoryProduct">
                        <% for(category of categories) { %>
                            <% if (product.category == category.id) { %>
                                <option value=<%=category.id %> selected>
                                    <%= category.name %>
                                </option>
                            <% } else { %>
                                <option value=<%=category.id %>>
                                    <%= category.name %>
                                </option>
                            <% } %> 
                        <% }%>
                    </select>
                </div>
                <div class="subcateg-prod">
                    <select name="subcategory" id="subcategory" class="subCategoryProduct">
                        <% for(subcategory of subCategories) { %>
                            <% if (subcategory.idCategory == categoryId) { %>
                                <% if (product.category == subcategory.id) { %>
                                    <option value=<%=subcategory.id %> selected>
                                        <%= subcategory.name %>
                                    </option>
                                <% } else { %>
                                    <option value=<%=subcategory.id %>>
                                        <%= subcategory.name %>
                                    </option>
                                <% } %>                            
                            <% } %>
                        <% }%>
                    </select>
                </div>
                <div class="submit-prod">
                    <input type="submit" value="Editar Producto" id="form_button" />
                </div>
            </form>
        </div>

        <%- include('../partials/footer') %>
            <script src="/js/main.js"></script>
            <script src="/js/productsSubCategory.json"></script>
            <script src="/js/subCategory.js"></script>
            <script src="/js/scrollUp.js"></script>

</body>

</html>