<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/formEditProduct.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <div id="container-brain">
        <h1 class="title-brain">&bull; Brainstorming &bull;</h1>
        <div class="underline"></div>
        <div class="icon_wrapper">
            <img class="icon-copas" src="/img/vectors/copas.png" alt="copas">
        </div>
        <form action="#" method="POST" id="form-create">
            <div class="name-prod">
                <label for="name-prod"></label>
                <input type="text" name="name-prod" id="name-prod" value="<%= product.title %>">
            </div>
            <div class="img-prod">
                <label for="img-prod"></label>
                <img src=<%=product.img %> alt="" class="img-edit"/>
                <input type="file" name="img-prod" id="img-prod" accept=".jpg" multiple>
            </div>
            <div class="code-prod">
                <label for="code-prod"></label>
                <input type="number" name="code-prod" id="code-prod" placeholder="Codigo de Barra">
            </div>
            <div class="price-prod">
                <label for="price-prod"></label>
                <input type="number" name="price-prod" id="price-prod" value=<%=product.price %>>
            </div>

            <div class="promo-prod">
                <label for="promo-prod"></label>
                <select name="promo-prod" id="promo-prod">
                    <% if (product.promotion=='sale' ) { %>
                        <option value="sale">Con Promoci贸n</option>
                        <option value="no-sale">Sin Promoci贸n</option>
                        <% } else { %>
                            <option value="no-sale">Sin Promoci贸n</option>
                            <option value="sale">Con Promoci贸n</option>
                            <% } %>
                </select>
            </div>
            <div class="discount-prod">
                <label for="discount-prod"></label>
                <input type="number" name="discount-prod" id="discount-prod" value="<%= product.discount %>"
                    placeholder="% de Descuento">
            </div>
            <div class="stock-prod">
                <label for="stock-prod"></label>
                <input type="number" name="stock-prod" id="stock-prod" placeholder="Stock">
            </div>

            <div class="categ-prod">
                <label for="categ-prod"></label>
                <select name="categ-prod" id="categ-prod">
                    <% for(category of categories) { %>
                        <option value="<% category.id %>">
                            <%= category.name %>
                        </option>
                        <% }%>
                </select>
            </div>
            <div class="subcateg-prod">
                <label for="subcateg-prod"></label>
                <select placeholder="Seleccione una Subcategoria" name="subcateg-prod" id="subcateg-prod">
                    <% for(subCategory of subCategories) { %>
                        <option value="<% subCategory.id %>">
                            <%= subCategory.name %>
                        </option>
                        <% }%>
                </select>
            </div>

            <div class="description-prod">
                <label for="description-prod"></label>
                <textarea name="description-prod" id="description-prod"
                    placeholder="Descripcion del Producto"></textarea>
            </div>

            <div class="submit-prod">
                <input type="submit" value="Editar Producto" id="form_button" />
            </div>
        </form>
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/main.js"></script>
</body>

</html>